.home-page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    .search {
        text-align: center;
        margin: 100px;
    }

    .search h1 {
        font-size: 70px;
    }

    .search input {
        width: 500px;
        height: 20px;
        border-radius: 5px;
        border-style: solid;
        border-color: gray;
        outline-color: green;
        padding: 10px;
    }

    .scholars, .books {
        width: 60%;
        text-align: center;
    }

    .scholars {
        margin-bottom: 80px;
    }

    .scholars-grid, .books-grid {
        display: grid;
        grid-template-columns: repeat(4, 2fr); /* Four equal columns */
        gap: 20px;
    }

    .scholar-card, .book-card {
        background-color: #f9f9f9;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        transition: transform 0.3s ease;
        text-align: center;
        padding: 10px;

    }

    .scholar-card p {
        margin: 0;
        padding: 0;
    }

    .scholar-card img, .book-card img {
        width: 100%;
        height: auto;
    }

    .scholar-card hr, .book-card hr {
        width: 75%;
    }
}