.contact-us-page-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
}

.contact-us-page-container .title, 
.contact-us-page-container .title-text {
    color: black;
}

.contact-us-page-container .container {
    width: 80%;
    margin: 50px auto;
}

.contact-us-container {
    display: flex;
    border-radius: 5px;
}

.contact-us-container .left {
    flex-basis: 60%;
    padding: 40px 60px;
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: grey;
    border-radius: 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-width: 1px;
    border-right: none;
}

.contact-us-container .right {
    flex-basis: 40%;
    padding: 40px 60px;
    background-color: rgb(21, 112, 17);
    border-radius: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: rgb(255, 255, 255);
}

.contact-us-container .left .input-row {
    display: flex;
    gap: 50px;
    margin-bottom: 30px;

    input {
        height: 20px;
        width: 250px;
        margin-top: 20px;
        border-radius: 5px;
    }
}

.contact-us-page-container .container .title {
    margin-bottom: 10px;
}

.contact-us-page-container .container .title-text {
    margin-bottom: 40px;
}

.input-row label {
}

.input-row .contact-input {
    width: 100%;
    border: none;
    border: 1px solid rgb(8, 74, 6);
    outline: none;
    padding-bottom: 5px;
}

.contact-text-area {
    width: 100%;
    border-style: solid;
    border: 1px solid rgb(8, 74, 6);
    border-radius: 5px;
    outline: none;
    resize: none;
    padding: 10px;
    margin-top: 10px;
}

.submit-button {
    width: 100px;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(54, 120, 61);
    color: white;
    border: none;
    padding: 0;
    height: 35px;
    border-radius: 10px;
    margin-top: 20px;
}

.submit-button:hover {
    cursor: pointer;
}

.contact-us-table-row .contact-us-table-row-cell:first-child {
    padding-right: 20px;
}

.contact-us-table-row .contact-us-table-row-cell {
    padding-top: 20px;
}