.navbar {
    .navbar-title {
        width: 100%;
        font-size: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px 0;
    }
    
    .navbar-info {
        background-color: var(--myColor);
        height: 60px;
        display: flex;
        align-items: center;
    }

    .navbar-info ul {
        width: 100%;
        display: flex;
        justify-content: center;
        list-style: none;
        padding: 0;
        margin: 0;
        gap: 20px;
    }

    .navbar-info ul li {
        font-size: 16px;
        padding: 10px;
        border-radius: 4px;
    }

    .navbar-info ul li:hover {
        background-color: var(--myColorShaded);
        cursor: pointer;
    }
}   