.favourite-scholars-page {
    padding: 20px;
    
    .grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 20px;
        
        .card {
            background-color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px;
            border-radius: 5px;
            border-style: solid;
            border-color: grey;
            border-width: 1px;
            img {
                width: 50%;
            }
            .link-container {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }

            .remove-button {
                background-color: inherit;
                border-style: solid;
                border-radius: 50%;
                font-size: 20px;
                cursor: pointer;
            }

            .remove-button:hover {
                color: grey;
                border-color: grey;
            }
        }
    }
}

